<!--图片选择对话框-->
<div id="div_imgfile">选择图片</div>

<!--图片预览容器-->
<div id="div_imglook">
    <div style="clear: both;"></div>
</div>

<!--确定上传按钮-->
<input type="button" value="确定上传" id="btn_ImgUpStart" class="btn btn-primary"/>