<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/timeline.css' />

	</head>
	<body  class="mix-bg">
	  	<div class="container-fluid">
	  		<% include header%>
			<% if (success) { %>
	        	<div class="alert alert-success">
		        	<%= success %>
		        </div>
	    	<% } %>
	    	<% if (error) { %>
	        	<div class="alert alert-danger">
	        		<%= error %>
	    		</div> 
	    	<% } %>
	    	<div class="row mt66">
	    		<div class="col-md-2 text-center">
	    			<ul class="nav nav-pills nav-stacked travel_nav">
					    <li role="presentation" class="active"><a href="#">旅游时光轴</a></li>
					    <li role="presentation"><a href="#">新增</a></li>
					    <li role="presentation"><a href="/photowall">照片墙</a></li>
					</ul>
	    		</div>
	    		<div class="col-md-8 cd-time-con">
	    			<div class="cd-time-wai">
	    				<section id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-picture">
									<img src="images/cd-icon-picture.svg" alt="Picture">
								</div><!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 1</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
									<a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Jan 14</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-movie">
									<img src="images/cd-icon-movie.svg" alt="Movie">
								</div> <!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 2</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
									<a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Jan 18</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-picture">
									<img src="images/cd-icon-picture.svg" alt="Picture">
								</div> <!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 3</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
									<a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Jan 24</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-location">
									<img src="images/cd-icon-location.svg" alt="Location">
								</div> <!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 4</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
									<a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Feb 14</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-location">
									<img src="images/cd-icon-location.svg" alt="Location">
								</div> <!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 5</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
									<a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Feb 18</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-movie">
									<img src="images/cd-icon-movie.svg" alt="Movie">
								</div> <!-- cd-timeline-img -->

								<div class="cd-timeline-content">
									<h2>html5时间表 6</h2>
									<p>jQuery 团队在官博中再次提醒用户，jQuery 2.0 不再支持IE 6/7/8 了，但是 jQuery 1.9 会继续支持。因为旧版 IE 浏览器在整个互联网中还有很大部分市场，所以他们非常期望大部分网站能继续使用 jQuery 1.x 一段时间。jQuery 团队也将同时支持 jQuery 1.x 和 2.x 。1.9 和 2.0 版的 API 是相同的，所以不必因为你们网站还在用 jQuery 1.9，就感觉好像错过了什么，或者是落后了。</p>
					                <a href="#" class="cd-read-more">阅读更多</a>
									<span class="cd-date">Feb 26</span>
								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->
						</section>
					</div>
	    		</div>
	    	</div>
    		
		</div>

	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		    <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="exampleModalLabel">用户登录</h4>
				    </div>
				    <div class="modal-body">
				    	<form class="form-horizontal" method="post" action="/login">
				    		<fieldset>
				    			<div class="control-group">
				    				<label class="control-label" for="username">用户名</label>
				    				<div class="controls">
				    					<input type="text" class="input-xlarge" id="username" name="username">
				    					<p class="help-block">你的账户名称，用于登录和显示</p>
				    				</div>
				    			</div>
				    			<div class="control-group">
				    				<label class="control-label" for="password">密码</label>
				    				<div class="controls">
				    					<input type="password" class="input-xlarge" id="password" name="password">
				    				</div>
				    			</div>
				    			<div class="form-actions">
				    				<button type="submit" class="btn btn-primary">登录</button>
				    			</div>
				    		</fieldset>
				    	</form>
				    </div>
			    </div>
		   </div>
		</div>
    </body>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script type="text/javascript" src="/javascripts/imgupload.js"></script>
	<script type="text/javascript" charset="utf-8">
        window.onload = function () {
            setTimeout(function(){
            	$(".alert").hide();
            },1000)
        }
    </script>
</html>
